* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
  background-image: url("../imagens/Back\ G.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  max-width: 100%;
  position: relative;

}


body form.container {
  display: flex;
  flex-direction: column;
  font-family: monospace, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  position: absolute;

  right: 50%;
  top: 9%;
  transform: translate(50%, 50%);

}

.container {

  background-image: linear-gradient(to right, rgba(213, 151, 37, 0.837), transparent, transparent, rgba(91, 59, 7, 0.751));
  box-shadow: 0px 20px 100px rgb(0, 0, 0);
  max-width: 300px;
  padding: 30px 20px;
  border-radius: 20px;

}

h2 {
  text-align: center;
  color: rgb(50, 33, 5);
  letter-spacing: 6px;

}

.barra {
  background-color: rgb(255, 172, 84);
  padding: 1px;
  margin: 10px -10px 30px -10px;
}

.lista {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

label {
  display: flex;
  font-size: .9em;
  font-weight: bolder;
  margin-bottom: 11px;
  padding-right: 10px;
  padding-left: 10px;
  color: rgb(0, 0, 0);
}

input {
  margin-bottom: 6px;

}

input {
  border: none;
  border: 1px solid rgba(255, 172, 84, 0.533);
  border-radius: 2px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.375);
}

button {
  margin: 30px 0 10px;
  padding: 5px;
  border: none;
  border-radius: 6px;
  background: rgba(213, 151, 37, 0.837);
  color: rgb(50, 33, 5);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.756em;
  letter-spacing: 1px;
  font-weight: bold;

  display: flex;
  margin: auto;
  margin-top: 30px;

  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.388);
}

button:hover {
  background: rgba(91, 59, 7, 0.854);
  color: #dcd3d3;
  font-weight: bolder;
  letter-spacing: 2px;


}